In [1]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [2]:
# Let's read in the data. If you open the dataset, you'll find that each column has a header. We specify that by stating that header=True.
# To make our lives easier, we can also use 'inferSchema' when importing CSVs. This automatically detects data types.
# If you would like to manually change data types, refer to this article: https://medium.com/@mrpowers/adding-structtype-columns-to-spark-dataframes-b44125409803
df = spark.read.csv('absenteeism3.csv',header=True,inferSchema=True)

In [3]:
# The show method allows you visualise DataFrames in a tabular format. 
df.show()

+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|Month of absence|Day of the week|Seasons|Transportation expense|Distance from Residence to Work|Service time|Age|Work load Average/day |Hit target|Disciplinary failure|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26|               7|              3|      1|                   289|                             36|          13| 33|               239,554|        97|                   0|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0|               7|              3|      1|                   118|                             13|          18| 50|               239,554|        97|                   1|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7|               7|              5|      1|                   279|                              5|          14| 39|               239,554|        97|                   0|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23|               7|              5|      1|                   289|                             36|          13| 33|               239,554|        97|                   0|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23|               7|              6|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22|               7|              6|      1|                   361|                             52|           3| 28|               239,554|        97|                   0|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23|               7|              6|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19|               7|              2|      1|                   155|                             12|          14| 34|               239,554|        97|                   0|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22|               7|              2|      1|                   235|                             11|          14| 37|               239,554|        97|                   0|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1|               7|              2|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1|               7|              3|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11|               7|              4|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14|               7|              6|      1|                   246|                             25|          16| 41|               239,554|        97|                   0|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23|               7|              6|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21|               7|              2|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11|               7|              5|      1|                   189|                             29|          13| 33|               239,554|        97|                   0|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23|               8|              4|      1|                   248|                             25|          14| 47|               205,917|        92|                   0|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

In [4]:
# Print schema allows us to visualise the data structure at a high level. 
df.printSchema()

# We can also use head to print a specific amount of rows, so we can get a better understanding of the data points. 
# Note that we have to specify 'print' depending on the method we're using. Otherwise it may not show up!
print(df.head(1))

root
 |-- ID: integer (nullable = true)
 |-- Reason for absence: integer (nullable = true)
 |-- Month of absence: integer (nullable = true)
 |-- Day of the week: integer (nullable = true)
 |-- Seasons: integer (nullable = true)
 |-- Transportation expense: integer (nullable = true)
 |-- Distance from Residence to Work: integer (nullable = true)
 |-- Service time: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Work load Average/day : string (nullable = true)
 |-- Hit target: integer (nullable = true)
 |-- Disciplinary failure: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Son: integer (nullable = true)
 |-- Social drinker: integer (nullable = true)
 |-- Social smoker: integer (nullable = true)
 |-- Pet: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Body mass index: integer (nullable = true)
 |-- Absenteeism time in hours: integer (nullable = true)
 |-- Height: double (nullable = true)

[Row(ID=11, Reason for absence=26, Month of absence=7, Day of the week=3, Seasons=1, Transportation expense=289, Distance from Residence to Work=36, Service time=13, Age=33, Work load Average/day ='239,554', Hit target=97, Disciplinary failure=0, Education=1, Son=2, Social drinker=1, Social smoker=0, Pet=1, Weight=90, Body mass index=30, Absenteeism time in hours=4, Height=1.72)]

In [5]:
# We can use the describe method get some general statistics on our data too. 
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|summary|                ID|Reason for absence|  Month of absence|   Day of the week|           Seasons|Transportation expense|Distance from Residence to Work|      Service time|              Age|Work load Average/day |       Hit target|Disciplinary failure|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|   Body mass index|Absenteeism time in hours|              Height|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|  count|               740|               740|               740|               740|               740|                   740|                            740|               740|              740|                   740|              740|                 740|               740|               740|                740|                740|               740|               740|               740|                      740|                 740|
|   mean|18.017567567567568|19.216216216216218| 6.324324324324325|3.9148648648648647|2.5445945945945945|    221.32972972972973|              29.63108108108108|12.554054054054054|            36.45|                  null|94.58783783783784| 0.05405405405405406|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|26.677027027027027|        6.924324324324324|  1.7211486486486636|
| stddev|11.021247263063657|  8.43340588279965|3.4362869319125897|1.4216747097562805| 1.111831060157382|     66.95222324531973|             14.836788436739143| 4.384873407621148|6.478772457611868|                  null|3.779313134418015| 0.22627727323215058|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 4.285452223167274|       13.330998100978196|0.060349945302676636|
|    min|                 1|                 0|                 0|                 2|                 1|                   118|                              5|                 1|               27|               205,917|               81|                   0|                 1|                 0|                  0|                  0|                 0|                56|                19|                        0|                1.63|
|    max|                36|                28|                12|                 6|                 4|                   388|                             52|                29|               58|               378,884|              100|                   1|                 4|                 4|                  1|                  1|                 8|               108|                38|                      120|                1.96|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+

In [6]:
# Let's select the columns that are integers, and use the describe method again.
# We see that the average age is 41. The average bank account balance is $1,074. 
# And they spoke to call centre reps for approx. 931 seconds on average. 
df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height').describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|summary|                ID|Reason for absence|              age|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|   Body mass index|Absenteeism time in hours|              Height|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|  count|               740|               740|              740|               740|               740|                740|                740|               740|               740|               740|                      740|                 740|
|   mean|18.017567567567568|19.216216216216218|            36.45|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|26.677027027027027|        6.924324324324324|  1.7211486486486636|
| stddev|11.021247263063657|  8.43340588279965|6.478772457611868|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 4.285452223167274|       13.330998100978196|0.060349945302676636|
|    min|                 1|                 0|               27|                 1|                 0|                  0|                  0|                 0|                56|                19|                        0|                1.63|
|    max|                36|                28|               58|                 4|                 4|                  1|                  1|                 8|               108|                38|                      120|                1.96|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+

In [7]:
# Let's select the balance column and assign it to a variable. 
df= df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height')

# We can then use the show method on that variable.
df.show()

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

In [8]:
# Let's try out some additional DataFrame methods.
# How would we identify individuals with a balance above $5,000? Using filter! 
df.filter("ID=1").show()

# We can also use more advanced filters. For example, let's see the jobs of people with over $2,500 in their bank account.
df.filter("ID=1").select('Absenteeism time in hours','Reason for absence').show()

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                23| 37|        3|  1|             0|            0|  1|    88|             29|                        4|  1.72|
|  1|                26| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                 7| 37|        3|  1|             0|            0|  1|    88|             29|                        3|  1.72|
|  1|                13| 37|        3|  1|             0|            0|  1|    88|             29|                       16|  1.72|
|  1|                23| 37|        3|  1|             0|            0|  1|    88|             29|                        1|  1.72|
|  1|                19| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                26| 37|        3|  1|             0|            0|  1|    88|             29|                        4|  1.72|
|  1|                18| 37|        3|  1|             0|            0|  1|    88|             29|                        1|  1.72|
|  1|                25| 37|        3|  1|             0|            0|  1|    88|             29|                        2|  1.72|
|  1|                23| 37|        3|  1|             0|            0|  1|    88|             29|                        3|  1.72|
|  1|                25| 37|        3|  1|             0|            0|  1|    88|             29|                        2|  1.72|
|  1|                14| 37|        3|  1|             0|            0|  1|    88|             29|                        4|  1.72|
|  1|                13| 37|        3|  1|             0|            0|  1|    88|             29|                        1|  1.72|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                21| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                 0| 37|        3|  1|             0|            0|  1|    88|             29|                        0|  1.72|
|  1|                 1| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                13| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
|  1|                23| 37|        3|  1|             0|            0|  1|    88|             29|                        4|  1.72|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

+-------------------------+------------------+
|Absenteeism time in hours|Reason for absence|
+-------------------------+------------------+
|                        8|                22|
|                        4|                23|
|                        8|                26|
|                        3|                 7|
|                       16|                13|
|                        1|                23|
|                        8|                19|
|                        4|                26|
|                        1|                18|
|                        2|                25|
|                        3|                23|
|                        2|                25|
|                        4|                14|
|                        1|                13|
|                        8|                22|
|                        8|                21|
|                        0|                 0|
|                        8|                 1|
|                        8|                13|
|                        4|                23|
+-------------------------+------------------+
only showing top 20 rows

In [9]:
# Let's try out some additional DataFrame methods.
# How would we identify individuals with a balance above $5,000? Using filter! 
df.filter("ID=18").show()

# We can also use more advanced filters. For example, let's see the jobs of people with over $2,500 in their bank account.
df.filter("ID=18").select('Absenteeism time in hours','Reason for absence').show()

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 18|                10| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                18| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                23| 28|        2|  0|             0|            0|  0|    84|             25|                        1|  1.82|
| 18|                 0| 28|        2|  0|             0|            0|  0|    84|             25|                        0|  1.82|
| 18|                26| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                 1| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                 1| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                 0| 28|        2|  0|             0|            0|  0|    84|             25|                        0|  1.82|
| 18|                26| 28|        2|  0|             0|            0|  0|    84|             25|                        4|  1.82|
| 18|                23| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                13| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                11| 28|        2|  0|             0|            0|  0|    84|             25|                        1|  1.82|
| 18|                25| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
| 18|                23| 28|        2|  0|             0|            0|  0|    84|             25|                       16|  1.82|
| 18|                 2| 28|        2|  0|             0|            0|  0|    84|             25|                       24|  1.82|
| 18|                10| 28|        2|  0|             0|            0|  0|    84|             25|                        8|  1.82|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+

+-------------------------+------------------+
|Absenteeism time in hours|Reason for absence|
+-------------------------+------------------+
|                        8|                10|
|                        8|                18|
|                        1|                23|
|                        0|                 0|
|                        8|                26|
|                        8|                 1|
|                        8|                 1|
|                        0|                 0|
|                        4|                26|
|                        8|                23|
|                        8|                13|
|                        1|                11|
|                        8|                25|
|                       16|                23|
|                       24|                 2|
|                        8|                10|
+-------------------------+------------------+

In [10]:
# To simplify things, let's split this into two steps. First, let's create a variable then order by age.
# Careful when using show()! Otherwise the variable type will change and you won't be able to order it. 
group_job_df = df.groupBy('ID').mean()

# Note that we have to use 'avg(age)' instead of age. Why? Because when you use mean(), it changes the feature's name (as you can see below).
print("Sorted by Absenteeism time in hours")
group_job_df.orderBy('avg(Absenteeism time in hours)').show()

# Let's see what this looks like in one line.
print("Sorted by Body mass index")
df.groupBy('ID').mean().orderBy('avg(Body mass index)').show()

Sorted by Absenteeism time in hours
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
| ID|avg(ID)|avg(Reason for absence)|avg(age)|avg(Education)|avg(Son)|avg(Social drinker)|avg(Social smoker)|avg(Pet)|avg(Weight)|avg(Body mass index)|avg(Absenteeism time in hours)|       avg(Height)|
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
|  8|    8.0|                    0.0|    39.0|           1.0|     2.0|                1.0|               0.0|     2.0|      100.0|                35.0|                           0.0|               1.7|
| 35|   35.0|                    0.0|    53.0|           1.0|     1.0|                0.0|               0.0|     1.0|       77.0|                25.0|                           0.0|              1.75|
|  4|    4.0|                    0.0|    40.0|           1.0|     1.0|                1.0|               0.0|     8.0|       98.0|                34.0|                           0.0|               1.7|
| 19|   19.0|                   13.0|    32.0|           1.0|     0.0|                1.0|               0.0|     0.0|       65.0|                23.0|                           2.0|1.6900000000000002|
| 33|   33.0|     19.583333333333332|    47.0|           1.0|     2.0|                0.0|               0.0|     1.0|       86.0|                32.0|            3.0416666666666665|1.6499999999999992|
| 32|   32.0|                   15.8|    49.0|           1.0|     0.0|                0.0|               0.0|     2.0|      108.0|                36.0|                           3.2|              1.72|
| 27|   27.0|     18.285714285714285|    27.0|           1.0|     0.0|                0.0|               0.0|     0.0|       58.0|                21.0|             3.857142857142857|              1.67|
|  2|    2.0|                   14.5|    48.0|           1.0|     1.0|                0.0|               1.0|     5.0|       88.0|                33.0|             4.166666666666667|1.6299999999999997|
| 25|   25.0|                   17.0|    32.0|           3.0|     0.0|                0.0|               0.0|     0.0|       75.0|                25.0|                           4.2|              1.78|
| 29|   29.0|                   16.6|    38.4|           3.4|     1.8|                0.8|               0.0|     2.0|       89.0|                27.2|                           4.2|             1.794|
|  3|    3.0|     22.964601769911503|    38.0|           1.0|     0.0|                1.0|               0.0|     0.0|       89.0|                31.0|             4.265486725663717|1.6999999999999975|
| 30|   30.0|     18.571428571428573|    29.0|           1.0|     0.0|                1.0|               1.0|     0.0|       75.0|                22.0|             4.428571428571429|1.8499999999999999|
| 28|   28.0|     20.644736842105264|    28.0|           1.0|     1.0|                0.0|               0.0|     2.0|       69.0|                24.0|             4.565789473684211|1.6899999999999984|
| 12|   12.0|     18.714285714285715|    31.0|           2.0|     1.0|                1.0|               0.0|     8.0|       68.0|                21.0|             4.857142857142857|1.7799999999999998|
|  7|    7.0|      9.666666666666666|    39.0|           1.0|     2.0|                1.0|               1.0|     0.0|       68.0|                24.0|                           5.0|              1.68|
| 23|   23.0|                  10.75|    36.0|           1.0|     2.0|                0.0|               1.0|     4.0|       65.0|                21.0|                           5.0|              1.74|
|  1|    1.0|      17.91304347826087|    37.0|           3.0|     1.0|                0.0|               0.0|     1.0|       88.0|                29.0|             5.260869565217392|1.7199999999999995|
| 31|   31.0|                    4.0|    50.0|           1.0|     0.0|                0.0|               0.0|     0.0|       76.0|                24.0|             5.333333333333333|              1.78|
| 21|   21.0|                    6.0|    33.0|           2.0|     0.0|                0.0|               0.0|     0.0|       79.0|                25.0|             5.333333333333333|              1.78|
|  5|    5.0|     17.105263157894736|    43.0|           1.0|     1.0|                1.0|               0.0|     0.0|      106.0|                38.0|             5.473684210526316|1.6700000000000006|
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
only showing top 20 rows

Sorted by Body mass index
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
| ID|avg(ID)|avg(Reason for absence)|avg(age)|avg(Education)|avg(Son)|avg(Social drinker)|avg(Social smoker)|avg(Pet)|avg(Weight)|avg(Body mass index)|avg(Absenteeism time in hours)|       avg(Height)|
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
| 22|   22.0|     19.652173913043477|    30.0|           3.0|     0.0|                0.0|               0.0|     0.0|       56.0|                19.0|                           5.5|1.7099999999999993|
| 12|   12.0|     18.714285714285715|    31.0|           2.0|     1.0|                1.0|               0.0|     8.0|       68.0|                21.0|             4.857142857142857|1.7799999999999998|
| 23|   23.0|                  10.75|    36.0|           1.0|     2.0|                0.0|               1.0|     4.0|       65.0|                21.0|                           5.0|              1.74|
| 27|   27.0|     18.285714285714285|    27.0|           1.0|     0.0|                0.0|               0.0|     0.0|       58.0|                21.0|             3.857142857142857|              1.67|
| 17|   17.0|                   18.5|    40.0|           2.0|     2.0|                0.0|               1.0|     0.0|       63.0|                22.0|                           6.3|1.6999999999999997|
|  9|    9.0|                 13.875|    58.0|           1.0|     2.0|                0.0|               0.0|     1.0|       65.0|                22.0|                         32.75|1.7200000000000002|
| 30|   30.0|     18.571428571428573|    29.0|           1.0|     0.0|                1.0|               1.0|     0.0|       75.0|                22.0|             4.428571428571429|1.8499999999999999|
| 19|   19.0|                   13.0|    32.0|           1.0|     0.0|                1.0|               0.0|     0.0|       65.0|                23.0|                           2.0|1.6900000000000002|
| 20|   20.0|     20.952380952380953|    36.0|           1.0|     4.0|                1.0|               0.0|     0.0|       65.0|                23.0|             7.285714285714286|1.6800000000000004|
| 24|   24.0|     18.066666666666666|    41.0|           1.0|     0.0|                1.0|               0.0|     0.0|       67.0|                23.0|             8.466666666666667|1.7000000000000006|
|  7|    7.0|      9.666666666666666|    39.0|           1.0|     2.0|                1.0|               1.0|     0.0|       68.0|                24.0|                           5.0|              1.68|
| 28|   28.0|     20.644736842105264|    28.0|           1.0|     1.0|                0.0|               0.0|     2.0|       69.0|                24.0|             4.565789473684211|1.6899999999999984|
| 31|   31.0|                    4.0|    50.0|           1.0|     0.0|                0.0|               0.0|     0.0|       76.0|                24.0|             5.333333333333333|              1.78|
| 14|   14.0|      19.20689655172414|    34.0|           1.0|     2.0|                1.0|               0.0|     0.0|       95.0|                25.0|            16.413793103448278|1.9600000000000006|
|  6|    6.0|                 19.375|    33.0|           1.0|     2.0|                0.0|               0.0|     2.0|       69.0|                25.0|                           9.0|              1.67|
| 15|   15.0|     21.594594594594593|    40.0|           1.0|     1.0|                1.0|               0.0|     1.0|       73.0|                25.0|             6.837837837837838|1.7100000000000006|
| 26|   26.0|                   17.8|    43.0|           1.0|     2.0|                1.0|               1.0|     1.0|       77.0|                25.0|                          16.6|              1.75|
| 13|   13.0|                   15.8|    31.0|           1.0|     3.0|                1.0|               0.0|     0.0|       70.0|                25.0|                          12.2|1.6900000000000004|
| 25|   25.0|                   17.0|    32.0|           3.0|     0.0|                0.0|               0.0|     0.0|       75.0|                25.0|                           4.2|              1.78|
| 16|   16.0|                   15.0|    46.0|           1.0|     2.0|                1.0|               1.0|     0.0|       75.0|                25.0|                           8.0|              1.75|
+---+-------+-----------------------+--------+--------------+--------+-------------------+------------------+--------+-----------+--------------------+------------------------------+------------------+
only showing top 20 rows

In [11]:
# Let's select the columns that are integers, and use the describe method again.
# We see that the average age is 41. The average bank account balance is $1,074. 
# And they spoke to call centre reps for approx. 931 seconds on average. 
df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height').describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|summary|                ID|Reason for absence|              age|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|   Body mass index|Absenteeism time in hours|              Height|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|  count|               740|               740|              740|               740|               740|                740|                740|               740|               740|               740|                      740|                 740|
|   mean|18.017567567567568|19.216216216216218|            36.45|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|26.677027027027027|        6.924324324324324|  1.7211486486486636|
| stddev|11.021247263063657|  8.43340588279965|6.478772457611868|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 4.285452223167274|       13.330998100978196|0.060349945302676636|
|    min|                 1|                 0|               27|                 1|                 0|                  0|                  0|                 0|                56|                19|                        0|                1.63|
|    max|                36|                28|               58|                 4|                 4|                  1|                  1|                 8|               108|                38|                      120|                1.96|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+

In [12]:
#clean data

In [13]:
#import findspark
#findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
#import pyspark
#from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('missing').getOrCreate()

In [14]:
df= df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height')

# Let's visually inspect the data. You may notice some nulls in the marital and balance column. 
df.show()
print("Total data points:", df.count())

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

Total data points: 740

In [15]:
# 'na' stands for Not Available. Using na, we can then use drop. 
# After using show, you'll find that the rows with the null values are gone. 
df.na.drop().show()

# Let's see how many rows of data we have now. 
print("Total data points:", df.count())

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

Total data points: 740

In [16]:
# It's good practice to specify the column to be filled. 
# In this case, as we know that marital has some missing values, let's fill the null values with the text "UNDISCLOSED".
filled_df = df.na.fill(0)
filled_df.show()
print("Total data points:", df.count())

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

Total data points: 740

In [17]:
#linear regression

In [18]:
# Section must be included at the beginning of each new notebook. Remember to change the app name.
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('linear_regression_adv').getOrCreate()

# If you're getting an error with numpy, please type 'sudo pip3 install numpy --user' into the console.
# If you're getting an error with another package, type 'sudo pip3 install PACKAGENAME --user'. 
# Replace PACKAGENAME with the relevant package (such as pandas, etc).
from pyspark.ml.regression import LinearRegression

# First, let's import the data. Note that we can infer the schema as it's a CSV file.
#df = spark.read.csv("Datasets/boston_housing_data.csv",inferSchema=True,header=True)

In [19]:
# Let's explore. Here's the first row of the data.
print(df.head())

# And the entire data structure. 
df.printSchema()

Row(ID=11, Reason for absence=26, age=33, Education=1, Son=2, Social drinker=1, Social smoker=0, Pet=1, Weight=90, Body mass index=30, Absenteeism time in hours=4, Height=1.72)
root
 |-- ID: integer (nullable = true)
 |-- Reason for absence: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Son: integer (nullable = true)
 |-- Social drinker: integer (nullable = true)
 |-- Social smoker: integer (nullable = true)
 |-- Pet: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Body mass index: integer (nullable = true)
 |-- Absenteeism time in hours: integer (nullable = true)
 |-- Height: double (nullable = true)

In [20]:
# Now that we understand the data's features, let's use a Python package to neatly describe the data.
import pandas as pd
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
ID,740,18.017567567567568,11.021247263063657,1,36
Reason for absence,740,19.216216216216218,8.43340588279965,0,28
age,740,36.45,6.478772457611868,27,58
Education,740,1.2918918918918918,0.6732380415251598,1,4
Son,740,1.018918918918919,1.0984890195302817,0,4
Social drinker,740,0.5675675675675675,0.49574866720003496,0,1
Social smoker,740,0.07297297297297298,0.2602680502800183,0,1
Pet,740,0.745945945945946,1.3182582913258336,0,8
Weight,740,79.03513513513514,12.883210507177214,56,108
Body mass index,740,26.677027027027027,4.285452223167274,19,38
Absenteeism time in hours,740,6.924324324324324,13.330998100978196,0,120
Height,740,1.7211486486486636,0.060349945302676636,1.63,1.96

In [21]:
df1=df. select( 'ID','Reason for absence', 'age', 'Son',  'Pet', 'Weight', 'Body mass index','Absenteeism time in hours')
df1.show()

+---+------------------+---+---+---+------+---------------+-------------------------+
| ID|Reason for absence|age|Son|Pet|Weight|Body mass index|Absenteeism time in hours|
+---+------------------+---+---+---+------+---------------+-------------------------+
| 11|                26| 33|  2|  1|    90|             30|                        4|
| 36|                 0| 50|  1|  0|    98|             31|                        0|
|  3|                23| 38|  0|  0|    89|             31|                        2|
|  7|                 7| 39|  2|  0|    68|             24|                        4|
| 11|                23| 33|  2|  1|    90|             30|                        2|
|  3|                23| 38|  0|  0|    89|             31|                        2|
| 10|                22| 28|  1|  4|    80|             27|                        8|
| 20|                23| 36|  4|  0|    65|             23|                        4|
| 14|                19| 34|  2|  0|    95|             25|                       40|
|  1|                22| 37|  1|  1|    88|             29|                        8|
| 20|                 1| 36|  4|  0|    65|             23|                        8|
| 20|                 1| 36|  4|  0|    65|             23|                        8|
| 20|                11| 36|  4|  0|    65|             23|                        8|
|  3|                11| 38|  0|  0|    89|             31|                        1|
|  3|                23| 38|  0|  0|    89|             31|                        4|
| 24|                14| 41|  0|  0|    67|             23|                        8|
|  3|                23| 38|  0|  0|    89|             31|                        2|
|  3|                21| 38|  0|  0|    89|             31|                        8|
|  6|                11| 33|  2|  2|    69|             25|                        8|
| 33|                23| 47|  2|  1|    86|             32|                        2|
+---+------------------+---+---+---+------+---------------+-------------------------+
only showing top 20 rows

In [22]:
# Now that we understand the data's features, let's use a Python package to neatly describe the data.
import pandas as pd
df1.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
ID,740,18.017567567567568,11.021247263063657,1,36
Reason for absence,740,19.216216216216218,8.43340588279965,0,28
age,740,36.45,6.478772457611868,27,58
Son,740,1.018918918918919,1.0984890195302817,0,4
Pet,740,0.745945945945946,1.3182582913258336,0,8
Weight,740,79.03513513513514,12.883210507177214,56,108
Body mass index,740,26.677027027027027,4.285452223167274,19,38
Absenteeism time in hours,740,6.924324324324324,13.330998100978196,0,120

In [23]:
import pandas as pd

from pandas.plotting import scatter_matrix
numeric_features = [t[0] for t in df1.dtypes if t[1] == 'int' or t[1] == 'double']
sampled_data = df1.select(numeric_features).sample(False, 0.8).toPandas()
axs = pd.plotting.scatter_matrix(sampled_data, figsize=(10, 10))
n = len(sampled_data.columns)
for i in range(n):
    v = axs[i, 0]
    v.yaxis.label.set_rotation(0)
    v.yaxis.label.set_ha('right')
    v.set_yticks(())
    h = axs[n-1, i]
    h.xaxis.label.set_rotation(90)
    h.set_xticks(())

In [24]:
# Import VectorAssembler and Vectors
from pyspark.ml.feature import VectorAssembler

# The input columns are the feature column names, and the output column is what you'd like the new column to be named. 
vector_assembler = VectorAssembler(inputCols = [ 'ID','Reason for absence','age','Son','Pet','Weight','Body mass index'],outputCol = 'personal')

# Now that we've created the assembler variable, let's actually transform the data.
vector_output = vector_assembler.transform(df1)

# Using print schema, you see that the features output column has been added. 
vector_output.printSchema()

# You can see that the features column is a DenseVector that combines the various features as expected.
vector_output.head(1)

root
 |-- ID: integer (nullable = true)
 |-- Reason for absence: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- Son: integer (nullable = true)
 |-- Pet: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Body mass index: integer (nullable = true)
 |-- Absenteeism time in hours: integer (nullable = true)
 |-- personal: vector (nullable = true)

[Row(ID=11, Reason for absence=26, age=33, Son=2, Pet=1, Weight=90, Body mass index=30, Absenteeism time in hours=4, personal=DenseVector([11.0, 26.0, 33.0, 2.0, 1.0, 90.0, 30.0]))]

In [25]:
# Because the features have been combined into one vector, we no longer need them. Below we select the features and label.
vector_output = vector_output.filter([ 'personal', 'Absenteesim time in hours'])

# You can see that the dataframe now only contains two columns. 
print(vector_output.head(1))
vector_output.show(3)

TypeError: condition should be string or Column

In [26]:
# Let's do a randomised 70/30 split. Remember, you should explain why you chose a particular split. 
train_data,test_data = vector_output.randomSplit([0.7,0.3])

# Let's see our training data.
train_data.describe().show()

# And our testing data.
test_data.describe().show()

+-------+------------------+-----------------+------------------+------------------+-----------------+------------------+
|summary|Reason for absence|              age|               son|               pet|           Weight|   body mass index|
+-------+------------------+-----------------+------------------+------------------+-----------------+------------------+
|  count|               537|              537|               537|               537|              537|               537|
|   mean|19.202979515828677|  36.487895716946|1.0223463687150838|0.7374301675977654|78.94599627560521| 26.70391061452514|
| stddev| 8.450787655683065|6.451913305565845|1.0975990109143274|1.2943459519548666| 12.7843358191111|4.2386639394973695|
|    min|                 0|               27|                 0|                 0|               56|                19|
|    max|                28|               58|                 4|                 8|              108|                38|
+-------+------------------+-----------------+------------------+------------------+-----------------+------------------+

+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|summary|Reason for absence|               age|               son|               pet|            Weight|  body mass index|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+
|  count|               203|               203|               203|               203|               203|              203|
|   mean|19.251231527093594| 36.34975369458128|1.0098522167487685|0.7684729064039408| 79.27093596059113|26.60591133004926|
| stddev| 8.407972169351254|6.5642926547987805|1.1035054306516734|1.3825615246027236|13.170267016201949|4.416705968916324|
|    min|                 0|                27|                 0|                 0|                56|               19|
|    max|                28|                58|                 4|                 8|               108|               38|
+-------+------------------+------------------+------------------+------------------+------------------+-----------------+

In [27]:
#pip install --upgrade patsy
#pip install statsmodels
#import statsmodels.api as sm
#from sklearn import datasets ## imports datasets from scikit-learn
#data = datasets.df() ## loads Boston dataset from datasets library 
#import numpy as np
#import pandas as pd
# define the data/predictors as the pre-set feature names  
#df = pd.DataFrame(data.data, columns=data.feature_names)

# Put the target (housing value -- MEDV) in another DataFrame
#target = pd.DataFrame(data.target, columns=['Absenteeism time in hours'])

In [29]:
# Importing the LR package.
from pyspark.ml.regression import LinearRegression

# Instantiate the instance.
lr = LinearRegression(featuresCol='Absenteesim time in hours', labelCol='ID')

# Fit the training data.
lr_model = lr.fit(train_data)

# Print the coefficients.
print("Coefficients: " + str(lr_model.coefficients))

# Print the intercept.
print("Intercept: " + str(lr_model.intercept) + "\n")

# Summarise the model and print out some evaluation metrics.
training_summary = lr_model.summary

# Print RMSE. 
print("RMSE: " + str(training_summary.rootMeanSquaredError))

# Print R2.
print("R2: " + str(training_summary.r2))

IllegalArgumentException: 'Field "Absenteesim time in hours" does not exist.'