In [7]:
# Section must be included at the beginning of each new notebook. Remember to change the app name. 
# If you're using VirtualBox, change the below to '/home/user/spark-2.1.1-bin-hadoop2.7'
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [8]:
# Let's read in the data. If you open the dataset, you'll find that each column has a header. We specify that by stating that header=True.
# To make our lives easier, we can also use 'inferSchema' when importing CSVs. This automatically detects data types.
# If you would like to manually change data types, refer to this article: https://medium.com/@mrpowers/adding-structtype-columns-to-spark-dataframes-b44125409803
df = spark.read.csv('absenteeism3.csv',header=True,inferSchema=True)

In [9]:
# The show method allows you visualise DataFrames in a tabular format. 
df.show()

+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|Month of absence|Day of the week|Seasons|Transportation expense|Distance from Residence to Work|Service time|Age|Work load Average/day |Hit target|Disciplinary failure|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26|               7|              3|      1|                   289|                             36|          13| 33|               239,554|        97|                   0|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0|               7|              3|      1|                   118|                             13|          18| 50|               239,554|        97|                   1|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7|               7|              5|      1|                   279|                              5|          14| 39|               239,554|        97|                   0|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23|               7|              5|      1|                   289|                             36|          13| 33|               239,554|        97|                   0|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23|               7|              6|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22|               7|              6|      1|                   361|                             52|           3| 28|               239,554|        97|                   0|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23|               7|              6|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19|               7|              2|      1|                   155|                             12|          14| 34|               239,554|        97|                   0|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22|               7|              2|      1|                   235|                             11|          14| 37|               239,554|        97|                   0|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1|               7|              2|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1|               7|              3|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11|               7|              4|      1|                   260|                             50|          11| 36|               239,554|        97|                   0|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23|               7|              4|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14|               7|              6|      1|                   246|                             25|          16| 41|               239,554|        97|                   0|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23|               7|              6|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21|               7|              2|      1|                   179|                             51|          18| 38|               239,554|        97|                   0|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11|               7|              5|      1|                   189|                             29|          13| 33|               239,554|        97|                   0|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23|               8|              4|      1|                   248|                             25|          14| 47|               205,917|        92|                   0|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

In [10]:
# Print schema allows us to visualise the data structure at a high level. 
df.printSchema()

# We can also use head to print a specific amount of rows, so we can get a better understanding of the data points. 
# Note that we have to specify 'print' depending on the method we're using. Otherwise it may not show up!
print(df.head(1))

root
 |-- ID: integer (nullable = true)
 |-- Reason for absence: integer (nullable = true)
 |-- Month of absence: integer (nullable = true)
 |-- Day of the week: integer (nullable = true)
 |-- Seasons: integer (nullable = true)
 |-- Transportation expense: integer (nullable = true)
 |-- Distance from Residence to Work: integer (nullable = true)
 |-- Service time: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Work load Average/day : string (nullable = true)
 |-- Hit target: integer (nullable = true)
 |-- Disciplinary failure: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- Son: integer (nullable = true)
 |-- Social drinker: integer (nullable = true)
 |-- Social smoker: integer (nullable = true)
 |-- Pet: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Body mass index: integer (nullable = true)
 |-- Absenteeism time in hours: integer (nullable = true)
 |-- Height: double (nullable = true)

[Row(ID=11, Reason for absence=26, Month of absence=7, Day of the week=3, Seasons=1, Transportation expense=289, Distance from Residence to Work=36, Service time=13, Age=33, Work load Average/day ='239,554', Hit target=97, Disciplinary failure=0, Education=1, Son=2, Social drinker=1, Social smoker=0, Pet=1, Weight=90, Body mass index=30, Absenteeism time in hours=4, Height=1.72)]

In [11]:
# We can use the describe method get some general statistics on our data too. 
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|summary|                ID|Reason for absence|  Month of absence|   Day of the week|           Seasons|Transportation expense|Distance from Residence to Work|      Service time|              Age|Work load Average/day |       Hit target|Disciplinary failure|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|   Body mass index|Absenteeism time in hours|              Height|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|  count|               740|               740|               740|               740|               740|                   740|                            740|               740|              740|                   740|              740|                 740|               740|               740|                740|                740|               740|               740|               740|                      740|                 740|
|   mean|18.017567567567568|19.216216216216218| 6.324324324324325|3.9148648648648647|2.5445945945945945|    221.32972972972973|              29.63108108108108|12.554054054054054|            36.45|                  null|94.58783783783784| 0.05405405405405406|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|26.677027027027027|        6.924324324324324|  1.7211486486486636|
| stddev|11.021247263063657|  8.43340588279965|3.4362869319125897|1.4216747097562805| 1.111831060157382|     66.95222324531973|             14.836788436739143| 4.384873407621148|6.478772457611868|                  null|3.779313134418015| 0.22627727323215058|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 4.285452223167274|       13.330998100978196|0.060349945302676636|
|    min|                 1|                 0|                 0|                 2|                 1|                   118|                              5|                 1|               27|               205,917|               81|                   0|                 1|                 0|                  0|                  0|                 0|                56|                19|                        0|                1.63|
|    max|                36|                28|                12|                 6|                 4|                   388|                             52|                29|               58|               378,884|              100|                   1|                 4|                 4|                  1|                  1|                 8|               108|                38|                      120|                1.96|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+

In [13]:
# Let's select the columns that are integers, and use the describe method again.
# We see that the average age is 41. The average bank account balance is $1,074. 
# And they spoke to call centre reps for approx. 931 seconds on average. 
df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height').describe().show()

+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|summary|                ID|Reason for absence|              age|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|   Body mass index|Absenteeism time in hours|              Height|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+
|  count|               740|               740|              740|               740|               740|                740|                740|               740|               740|               740|                      740|                 740|
|   mean|18.017567567567568|19.216216216216218|            36.45|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|26.677027027027027|        6.924324324324324|  1.7211486486486636|
| stddev|11.021247263063657|  8.43340588279965|6.478772457611868|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 4.285452223167274|       13.330998100978196|0.060349945302676636|
|    min|                 1|                 0|               27|                 1|                 0|                  0|                  0|                 0|                56|                19|                        0|                1.63|
|    max|                36|                28|               58|                 4|                 4|                  1|                  1|                 8|               108|                38|                      120|                1.96|
+-------+------------------+------------------+-----------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+-------------------------+--------------------+

In [14]:
# Let's select the balance column and assign it to a variable. 
bal_col = df.select('ID', 'Reason for absence', 'age','Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Body mass index', 'Absenteeism time in hours', 'Height')

# We can then use the show method on that variable.
bal_col.show()

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

In [24]:
# Let's try out some additional DataFrame methods.
# How would we identify individuals with a balance above $5,000? Using filter! 
df.filter("ID=1").show(bal_col.show())

# We can also use more advanced filters. For example, let's see the jobs of people with over $2,500 in their bank account.
df.filter("ID=1").select('Reason for absence', 'Absenteeism time in hours').show(bal_col.show())

+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| ID|Reason for absence|age|Education|Son|Social drinker|Social smoker|Pet|Weight|Body mass index|Absenteeism time in hours|Height|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
| 11|                26| 33|        1|  2|             1|            0|  1|    90|             30|                        4|  1.72|
| 36|                 0| 50|        1|  1|             1|            0|  0|    98|             31|                        0|  1.78|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  7|                 7| 39|        1|  2|             1|            1|  0|    68|             24|                        4|  1.68|
| 11|                23| 33|        1|  2|             1|            0|  1|    90|             30|                        2|  1.72|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
| 10|                22| 28|        1|  1|             1|            0|  4|    80|             27|                        8|  1.72|
| 20|                23| 36|        1|  4|             1|            0|  0|    65|             23|                        4|  1.68|
| 14|                19| 34|        1|  2|             1|            0|  0|    95|             25|                       40|  1.96|
|  1|                22| 37|        3|  1|             0|            0|  1|    88|             29|                        8|  1.72|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                 1| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
| 20|                11| 36|        1|  4|             1|            0|  0|    65|             23|                        8|  1.68|
|  3|                11| 38|        1|  0|             1|            0|  0|    89|             31|                        1|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        4|   1.7|
| 24|                14| 41|        1|  0|             1|            0|  0|    67|             23|                        8|   1.7|
|  3|                23| 38|        1|  0|             1|            0|  0|    89|             31|                        2|   1.7|
|  3|                21| 38|        1|  0|             1|            0|  0|    89|             31|                        8|   1.7|
|  6|                11| 33|        1|  2|             0|            0|  2|    69|             25|                        8|  1.67|
| 33|                23| 47|        1|  2|             0|            0|  1|    86|             32|                        2|  1.65|
+---+------------------+---+---------+---+--------------+-------------+---+------+---------------+-------------------------+------+
only showing top 20 rows

Py4JError: An error occurred while calling o210.showString. Trace:
py4j.Py4JException: Method showString([null, class java.lang.Integer]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:272)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)